pandas
nltk
scikit-learn
matplotlib
seaborn
# Flask
python-dotenv
# flask-sqlalchemy
# flask-jwt-extended
transformers
tensorflow
tf-keras
hf_xet


# flask-cors
# requests
torch


"fastapi[standard]"
prisma
fastapi-jwt-auth